.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    padding-bottom: 10px;

}
.product-name{
    color: blue;
    font-weight: 400;
}
.product-owner{
    margin-left: 10px;
}
.main-button{
    width: 250px;
    height: 30px;
    border: 1px solid darkgray;
    border-radius: 5px;
    background-color: orange;
    cursor: pointer;
}